<!-- app/views/home/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'shared/header' %> <!-- Include header partial -->
  
  <div class="container">
    <h1>Welcome to the Home Page!</h1>
    <p>This is the homepage of your Rails application.</p>
  </div>

</body>
</html>
